* {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

html, body {
	background: #ddd;
	color: #c5b7a6;
	width: 100%;
	height: 100%;
	padding: 0;
    font-family: "opensans", arial, sans-serif;
    font-size: 13px;
    line-height: 13px;
}

a,
a:visited { color: #fff; }
a:hover { color: #00AA29; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* Contents
-------------------------------------------------- */
.sketch-api {
	position: relative;
	min-width: 660px;
}
.sketch-api .sk-contents {
	padding: 0;
	margin: 0;
	width: inherit;
	height: inherit;
	overflow: none;
	background: #111;
	background: -webkit-linear-gradient(bottom, #222, #333);
	background: linear-gradient(to top, #222, #333);
	z-index: 1;
}


/* Viewport
-------------------------------------------------- */
.sketch-api .sk-contents {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 40px;
	padding-left: 0px;
}
.sketch-api.pad-left .sk-contents {
	padding-left: 225px;
}
.sketch-api.pad-right .sk-contents {
	padding-right: 225px;
}


/* Temporary
-------------------------------------------------- */
.sk-selectmenu-header .data-header {
	max-width: 160px;
}

.sk-palette-content {
	margin-top: 5px;
}


/* Search
-------------------------------------------------- */
.sk-search a {
	display: block;
	margin: 10px 8px 5px;
}


/* Help
-------------------------------------------------- */
.sk-help p {
	margin: 10px 8px 5px;
}
.sk-help textarea {
	height: 200px;
}
.sk-help input[type="submit"] {
	margin-top: 10px;
}
.sk-help input,
.sk-help textarea {
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 3px;
	width: 100%;
	border: 0;
}


/* Toolset
-------------------------------------------------- */
.sk-toolset {
	background: -webkit-linear-gradient(bottom, #3f3f3f, #333333);
	background: linear-gradient(to top, #3f3f3f, #333333);
	-webkit-transition: opacity, padding .35s;
	        transition: opacity, padding .35s;
	padding-left: 0;
}
.sk-toolset .sk-tool {
    box-shadow: inset -1px 0 0 0 #333, inset 1px 0 0 0 #000;
	width: 44px;
}
.sk-toolset [data-tool='redo'] {
	position: absolute;
	right: 0px;
	top: 40px;
	opacity: 1.0;
	background: #666;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.sk-toolset [data-tool='redo']:hover {
	box-shadow: inset 0 0 10px 2px #777;
}


/* Sidebar
-------------------------------------------------- */
.sk-sidebar {
	position: absolute;
}
.sk-sidebar-left {
    margin-top: 0px;
    padding-top: 81px; /* compensate toolbar + tabs */
    padding-bottom: 35px; /* compensate row-head */
}
.sk-sidebar-right {
    margin-top: 0px;
    padding-top: 41px;
}
.sk-sidebar-right .sk-divider {
	display: block;
	list-style-type: none;
    padding: 6px 8px 6px 0;
    color: #fff;
}
.sk-sidebar-right label {
	padding: 4px 4px 4px 8px;
}


/* Guide
-------------------------------------------------- */
.sk-guide .sk-header {
	margin-bottom: 4px;
}
.sk-guide .sk-divider div {
	padding: 10px 5px 5px 27px;
	color: #999;
	display: none;
}
.sk-guide .sk-divider.sk-show div {
	display: block;
}


/* Font
--------------------------------------------- */
@font-face {
	font-family: 'opensans';
	src:url('../media/text/opensans/OpenSans-Regular.eot');
	src:url('../media/text/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../media/text/opensans/OpenSans-Regular.ttf') format('truetype'),
		url('../media/text/opensans/OpenSans-Regular.woff') format('woff'),
		url('../media/text/opensans/OpenSans-Regular.svg#logomaker') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans-bold';
	src:url('../media/text/opensans/OpenSans-Bold.eot');
	src:url('../media/text/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../media/text/opensans/OpenSans-Bold.ttf') format('truetype'),
		url('../media/text/opensans/OpenSans-Bold.woff') format('woff'),
		url('../media/text/opensans/OpenSans-Bold.svg#logomaker') format('svg');
	font-weight: bold;
	font-style: bold;
}


/* Printing
-------------------------------------------------- */
@page {
	size: 816px 1056px;
	margin: 0 0 0 0;
}