{% extends "AcmeDemoBundle::Baselayout.html.twig" %}
{% block linkPlus %}
	<link rel='stylesheet' href='http://s.codepen.io/assets/reset/normalize.css'><script src='http://s.codepen.io/assets/libs/prefixfree.min.js'></script><script src='http://s.codepen.io/assets/libs/modernizr.js'></script><link rel='stylesheet prefetch' href='http://bigbangburger.com/css/fonts.css'>
	{% endblock %}
{% block CssPlus %}
<style class="cp-pen-styles">


::selection { 
	background: #d1edf8;
}

html, 


body {
	background: #eee;
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}



.intro {
	
	background: #eee;
 
}
	
	.demo>article {
		display: inline-block;
	
		vertical-align: top;
	
		line-height: 1.5em;
	}
	.demo>article.double {
		max-width: 640px;
	}
	.demo>article img {
		max-width: 100%;
		margin-bottom: 10px;
	}
	.demo>article h2 {
		margin-bottom: 10px;
	}
	.demo>article .image-link {
		display: block;
	}
</style>
{% endblock %}

{%block body%}	
    
    <div class="row">
            
                <div class="col-lg-12 col-sm-12" style = "text-align: left; width:90%; padding-left:150;">
                  
                	<div class="intro">
	  	<article>
					<h2>Patent That FAQs</h2>
		</article>
		</div>
		</div>
		</div>
<div class="row">
	<div class="carousel-inner">
				<div class="item active"> <img class="img-responsive img-full" src="{{ asset('bundles/landing_page/img/faq_Page_1.jpg') }}" /> 
			</div)
				<div class="item active"> <img class="img-responsive img-full" src="{{ asset('bundles/landing_page/img/faq_Page_2.jpg') }}" />
			</div>
	</div>
        </div>
{% endblock %}


