{% extends "AcmeDemoBundle::Baselayout.html.twig" %}
{% block body %} 
    <!-- Temporary Stride stylesheet for development only -->
    <link rel="stylesheet" href="http://stridecreative.com/patentthat/css/stride.css" />
    <div class="hp-carousel-wrap">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">                     
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active"> <img class="img-responsive img-full" style=" min-width: 100%;height: 95%;" src="{{ asset('bundles/landing_page/img/Banner1.jpg') }}" /> </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navigation --> 
        <!-- Page Content -->
        <div class="content-section-a" id="page1_2">
            <div class="container" >
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h1 class="section-heading">A Sketchpad for the Next Generation of Inventors.</h1>
                        <p>At Patent That, we believe in the power of innovation. And we’re on a mission to put that power back in your hands.</p>
                        <p>
                        </p>
                        <p>Our platform helps inventors create, capture, and describe their next great idea, with a simple guide to input the information needed to prepare an invention disclosure and patent application.</p>
                        <p>
                        </p>
                        <p>Build your own portfolio of inventions over time and seek stream-lined patent application assistance when you’re ready to take the next step.
                        <p>
                        </p>
                        <h2>Be Creative  and  Think Big</h2>
                        <p><a href="/apppage" class="button" >GET STARTED &#187;</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

        <div class="content-section-b" id="page1_3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-pull-6  col-sm-6"> <img src="/bundles/landing_page/img/page1_4.jpg" id="image_page1_4"> </div>
                    <div class="col-lg-5 col-sm-6">
                        <h3>Built for the Modern Inventor</h3>
                        <ul>
                            <li>Our platform allows you to develop your ideas when you want, where you want.</li>
                            <li>Flexible free-form sketchpad application allows you to draw and describe your ideas as they evolve.</li>
                            <li>Import figures and drawings and then annotate</li>
                            <li>Store all your ideas in one place.</li>
                        </ul>
                        <a class="button" href="/apppage">GET STARTED &#187;</a> </div>
                </div>
            </div>
            <!-- /.container --> 
        </div>
        <!-- /.content-section-a -->

        <div id="page1_4" class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-push-6 col-sm-6"> <img src="/bundles/landing_page/img/page1_5.jpg" style=" margin-left: auto; margin-right: auto;" class="img-responsive"> </div>
                    <div class="col-lg-5 col-lg-pull-5 col-sm-pull-6  col-sm-6">
                        <h3>Simple and Secure</h3>
                        <ul>
                            <li>Register in seconds.</li>
                            <li>The sketchpad has intuitive, yet robust features, and allows you to modify each drawing or detail whenever you want.</li>
                            <li>Your ideas are safe with us - no one will see your concepts without your approval.</li>
                            <li>Help is only a click away.</li>
                        </ul>
                        <a href="/apppage" class="button">GET STARTED &#187;</a> </div>
                </div>
            </div>
            <!-- /.container --> 
        </div>
        <!-- /.content-section-b -->
        <div class="content-section-b" id="page1_5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-pull-6  col-sm-6" ><img id='image_page1_6' class="floatright" src="{{ asset('bundles/landing_page/img/page1_6.jpg') }}"></div>
                    <div class="col-lg-5 col-sm-6">
                        <h3>Powerful and Empowering</h3>
                        <ul>
                            <li>Accessible on multiple platforms and all devices.</li>
                            <li>Build your portfolio of ideas over time at your own pace.</li>
                            <li>Save time and money – our patent guide helps you develop the information and materials you need to develop for patenting, minimizing attorney’s fees and expenses. </li>
                            <li>Send your idea directly to an attorney when you are ready to take the next step.</li>
                            <li>Additional patent resources at your fingertips.</li>
                        </ul>
                        <a href="/apppage" class = "button">GET STARTED &#187;</a> </div>
                </div>
            </div>
            <!-- /.container --> 

        </div>
        <!-- /.content-section-a -->
        <div class="banner" >
            <div class="row">
                <div class="col-lg-12">
                    <h2 id = 'getStart'><a class="button alternate" href="{{path('page_app') }}">Get Started! &#187;</a></h2>
                </div>
            </div>
            <!-- /.container --> 
        </div>
        <!-- /.banner --> 
    </div>
{% endblock %} 
