{% extends "AcmeDemoBundle::Baselayout.html.twig" %}
{% block linkPlus %}
	<link rel='stylesheet' href='http://s.codepen.io/assets/reset/normalize.css'><script src='http://s.codepen.io/assets/libs/prefixfree.min.js'></script><script src='http://s.codepen.io/assets/libs/modernizr.js'></script><link rel='stylesheet prefetch' href='http://bigbangburger.com/css/fonts.css'>
	{% endblock %}
{% block CssPlus %}
<style class="cp-pen-styles">


::selection { 
	background: #d1edf8;
}

html, 


body {
	background: #eee;
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}



.intro {
	
	background: #eee;

	

	
	        
}
	
	

	.demo>article {
		display: inline-block;
	
		vertical-align: top;
	
		line-height: 1.5em;
	}
	.demo>article.double {
		max-width: 640px;
	}
	.demo>article img {
		max-width: 100%;
		margin-bottom: 10px;
	}
	.demo>article h2 {
		margin-bottom: 10px;
	}
	.demo>article .image-link {
		display: block;
	}
</style>
{% endblock %}


{%block body%}	


    
    
    <div class="row">
            
                <div class="col-lg-12 col-sm-12" style = "text-align: left; width:90%; padding-left:150;">
                  
                	<div class="intro">
	  	<article>
			<h1>Patent That Terms of Service</h1>
		<p>
			<h2> Our Mission: To Improve the Innovation Process </h2>
<p>
			
<h3> Our Promises:</h3>
<h3>	Your ideas are yours—we’re here to help You develop them more efficiently.</h3>
<h3>	Your information will not be disclosed to others, unless You choose to disclose it.</h3>
<h3>	Your information will be accessible.</h3>
</p>
</p>
		<p>
<h4>This is the Terms of Service Agreement for Patent That, a software application, and patent-that.com, a website, both owned and operated by Green Mountain Apps, LLC, a Vermont limited liability corporation (“GMA”). 
</h4>
		<p>
Welcome to Patent That and patent-that.com! We (GMA) invite You to access patent-that.com (the “Site”) and use the Patent That (the “App”) application to document and develop Your ideas more effectively for patenting (“the Services”), but please note that this invitation is subject to Your review of, and agreement with, these Terms.  This document describes in detail Your rights and our rights relating to the provision of the Services, so please review these Terms of Service carefully.
</p>
		<p>
<h3>1. DESCRIPTION OF THE SERVICES.</h3>
Patent That and patent-that.com are vehicles for documenting and developing ideas as well as finding materials and information related to patent application inputs.  The content and media included with the Services, include, but are not limited to, guides, documents, reports, presentations, and videos (the “GMA Content”).  Your use of the Services, including any updates, enhancements, new features, and/or the addition of any new links to the Services, is subject to these Terms. 
As a part of certain versions of Patent That, GMA provides an automated software solution and patent information so that You can prepare Your own patent applications.  To that end, Patent That includes general information on common patent drafting issues and provides instructions on how to complete certain forms.  However, at no time does GMA review Your documents or patent application for legal sufficiency, draw legal conclusions, provide legal advice, opinions or recommendations about Your legal rights, remedies, defenses, options, selection of forms, or strategies, or apply the law to the facts of your particular situation.  GMA is not a law firm and may not perform services performed by an attorney.  GMA and its Services are not substitutes for the advice of a patent attorney or patent agent.
GMA strives to keep the information on Patent That accurate and current.  However, because patent law can change rapidly, GMA cannot guarantee that all of the information on Patent That is completely current.  Moreover, the law is applied to specific factual situations, and no general information or legal tool like the kind GMA provides can fit every circumstance.  If you need legal advice for Your invention, or if your invention is too complex to be addressed by our tools, You should consult a licensed attorney or registered patent agent in your area.
GMA may perform certain attorney access services and introduce You to a patent attorney or patent agent through various methods, including but not limited to (i) legal plans, (ii) third party attorney directory listings, and (iii) third party limited scope agreements.  At no time is an attorney-client relationship fostered or created with GMA through the performance of any such services.
</p>
		<p>
<h3>2. ACCEPTANCE OF TERMS.</h3>
By using the Services (e.g., accessing the Site or using the App), You have entered into a contract with GMA and are subject to these Terms.  You are only authorized to use the Services if You agree to abide by all applicable laws and to these Terms.  If You do not agree with these Terms (or agree to follow applicable laws), You should leave the Site and cease using the Service. 
Note that GMA may discontinue, modify or suspend any aspect of the Services, including these Terms, without prior notice of any kind.  GMA’s modifications to these Terms shall be effective upon posting by GMA on the Site.  You agree to be bound by any changes to the Terms when You use the Services after any such modification is posted.  It is therefore important that You review the Terms regularly to ensure that You are updated as to any changes.  Please check these Terms every time You visit.
</p>
		<p>
<h3>3. PRIVACY AND PROTECTION OF PERSONALLY IDENTIFIABLE INFORMATION.</h3>
We have a policy relating to the collection use of Your personally identifiable information, which can be found here: Privacy Policy.
We also have a policy regarding the non-disclosure of the content You upload or otherwise input to the Services, which can be found here: Non-Disclosure Policy.
</p>
		<p>
<h3>2. CONTENT OWNERSHIP.</h3>  
</p>
		<p>
<h3>YOUR CONTENT OWNERSHIP</h3>
GMA shall have no right, title, or interest in or to any information, data, concepts, or other materials (collectively, “Your Content”) You upload or otherwise input to the Services,  except that You hereby provide to GMA a nonexclusive license to: (a) capture, use, store, and maintain Your Content in connection with its provision of Services to You and enforcement of GMA’s rights; and (b) compile aggregated statistics regarding Your use of the Services along with data of other GMA customers for internal or marketing use (provided that no such marketing use shall include any information that can identify You or GMA’s customers).  You reserve all rights in and to Your Content that are not expressly granted to GMA.
You shall be solely responsible for Your Content and the consequences of uploading, posting, or publishing it on or using the Services.  You expressly represent and warrant that You own or have the necessary licenses, rights, consents, and permissions to use and authorize GMA to use all patent, trademark, trade secret, copyright or other proprietary rights in and to any and all Your Content to enable inclusion and use of Your Content as part of the Service and in the manner contemplated by these Terms.
GMA does not guarantee that any of Your Content will be made available on the Service, whether continuously or at all.  GMA shall have no obligation to monitor any of Your Content.  However, GMA and its agents reserve the right to monitor any of Your Content from time to time for any lawful purpose.  GMA may, without notice to You, remove or block any of Your Content from the Service, including disabling access to some or all of Your Content.
You acknowledge and agree that GMA has limited practical ability to control or monitor possible infringement of Your intellectual property rights by other parties and that GMA assumes no responsibility for controlling or monitoring such intellectual property rights and shall have no liability for such possible infringement. In addition, GMA is not responsible for enforcing Your intellectual property rights, including filing suit or taking other legal action against infringers.
</p>
		<p>
<h3>GMA CONTENT OWNERSHIP</h3>
While You own Your Content, You acknowledge and agree that GMA (and our licensors) own(s) all legal right, title and interest in and to the Service, including, without limitation, all software comprising a part of the Services that is hosted on GMA’s servers or any GMA software applications for compatible computing devices that enable access and use of the Services through such device (the “GMA Software”).
GMA may impose limits on use of the Services, or suspend or discontinue Your access to the Services, to all or part of the Site or App without prior notice of any kind. 
Content included with the Services.  You are not permitted to use any GMA Content or to reproduce the GMA Content in any manner without the prior written consent of GMA.  You agree and acknowledge that the rights in the Services and GMA Software, including all intellectual property rights, such as trademarks, patents, industrial designs and copyrights, are protected by one or more of copyright, trademark, patent, trade secret and other laws, regulations and treaties, in addition to these Terms and any separate agreement. In particular, You agree to not modify, create derivative works of, decompile or otherwise attempt to extract source code from any GMA Software or GMA Content, unless You are expressly permitted to do so under an open source license or we give You express written permission.
Monitoring of Content.  GMA and its agents and designees reserve the right to monitor, restrict access to, edit, modify or remove any GMA Content or the GMA Software.  GMA reserves the right at all times to disclose any information GMA deems necessary to satisfy any applicable law, regulation, legal process or governmental request.  THESE RIGHTS WILL NOT BE CONSTRUED TO CREATE ANY LIABILITY TO GMA IN CONNECTION WITH ANY GMA CONTENT OR INFORMATION.  Some GMA Content uploaded to the Services by GMA may be subject to posted limitations on usage, reproduction and/or dissemination.  You are responsible for adhering to such limitations if You download such GMA Content.
</p>
		<p>
<h3>3. REGISTRATION</h3>
Registration is not required to view some GMA Content provided as part of the Service. However, You are required to register if You wish to place information on the Service, use the App, or make a comment.
To register, You will have to create an account (a “GMA Account”).  As a condition to using such components of the Service, You will be asked to register with GMA and select a password and screen name ("GMA User ID").  You shall provide GMA with accurate, complete, and updated registration information.  Failure to do so shall constitute a breach of these Terms, which may result in immediate termination of Your GMA Account. You may not (i) select or use as a GMA User ID a name of another person with the intent to impersonate that person; (ii) use as a GMA User ID a name subject to any rights of a person other than You without appropriate authorization; or (iii) use as a GMA User ID a name that is otherwise offensive, vulgar or obscene.  GMA reserves the right to refuse registration of, or cancel a GMA User ID in its sole discretion.  
Accountability.  You are solely responsible for the activity that occurs on Your account, and You must keep Your account password secure. You must notify GMA immediately of any breach of security or unauthorized use of Your account.  Although GMA will not be liable for Your losses caused by any unauthorized use of Your GMA Account, You may be liable for the losses of GMA or others due to such unauthorized use.  All registration information provided by You shall be subject to GMA's Privacy Policy or any successor thereto.
</p>
		<p>
<h3>4. NO UNLAWFUL OR PROHIBITED USE.</h3>
As a condition of Your use of the Services, You will not use the Services for any purpose that is unlawful or prohibited by these Terms.  GMA reserves the right to investigate and take appropriate legal action against any users who, in GMA’s sole discretion, violate this provision, including, without limitation, removing, editing or modifying any offending content, or denying, restricting, or suspending or terminating Your access to all or any part of the Services, with or without prior notice or explanation, and without liability to GMA.  GMA has no obligation to take any of the above-referenced actions, and is not responsible for the conduct of any users who violate this provision.  
You will not:
</p>
		<p>
4.1. Use the Services in any manner that could damage, disable, overburden, or impair any of the Services’ servers or the network(s) connected to any of the Services’ servers, or interfere with any other party’s use and enjoyment of the Services.
</p>
		<p>
4.2. Attempt to gain unauthorized access to any part of the Services, other accounts, computer systems or networks connected to any Services server, through hacking, password mining or any other means.
</p>
		<p>
4.3. Obtain or attempt to obtain any materials or information through any means not intentionally made available through the Services, especially including other user’s content.
</p>
		<p>
4.4. Use the Services in connection with surveys, contests, pyramid schemes, chain letters, junk e-mail, spamming or any duplicative, exploitive or unsolicited messages (commercial or otherwise).
</p>
		<p>
4.5. Advertise products of any kind that You or someone else manufacturers, supplies, distributes.  This includes not publishing, posting, uploading, discussing, mentioning or listing the telephone numbers, addresses, facsimile numbers, e-mail addresses, domain names or Web links of Your manufacturing, supply, retail, or wholesale business or any other business of this type. 
</p>
		<p>
4.6. Publish, post, upload, link to, discuss, disseminate, mention, or list Your own personal contact information if it is for the purpose of advertising, distributing or selling products or services that You or someone else manufactures, supplies, distributes or sells.
</p>
		<p>
4.7. Publish, post, upload, link to, discuss, disseminate, mention or list Your or anyone else’s age or e-mail address anywhere on the Services.
</p>
		<p>
4.8. Publish, post, upload, link to, discuss, disseminate, mention or list names, telephone numbers, addresses, e-mail addresses, facsimile numbers, domain names or websites of any other users. 
</p>
		<p>
4.9. Defame, abuse, harass, stalk, threaten, offend, provoke, name call, or otherwise violate the legal rights (including the rights of privacy and publicity) of others.
</p>
		<p>
4.10. Publish, post, upload, disseminate, use or make comments which are of an abusive, violent, inappropriate, vulgar, profane, defamatory, obscene, indecent, sexually explicit, pornographic, or otherwise objectionable or unlawful nature.
</p>
		<p>
4.11. Publish, post, discuss, upload, disseminate or mention information that contains content intended to victimize, harass, degrade, or intimidate an individual or group of individuals on the basis of religion, gender, race, ethnicity, age, disability, or sexual orientation.  Hate speech of any kind is not permitted on the Services.
</p>
		<p>
4.12. Publish, post, discuss, upload, disseminate or mention illegal activities of any kind, including, without limitation, references to illegal drug use, terrorist activities, making or buying illegal weapons, violating someone else’s privacy or child pornography.
</p>
		<p>
4.13. Publish, post, upload, disseminate, post Web links to or otherwise make available any content, which is obscene, lewd, violent, sexually explicit, pornographic or otherwise objectionable or illegal. 
</p>
		<p>
4.14. Publish, post, upload, use or otherwise make available, pass off as Your own, or solicit for exchange, sale or purchase, any content protected by intellectual property laws, including, by way of example, and not as limitation, copyright or trademark laws (or rights of privacy or publicity) unless You own or control the rights thereto or have received all necessary consent to do the same.
</p>
		<p>
4.15. Post, upload, disseminate, link to, use, modify, copy, reproduce, republish, transmit or otherwise make available any content, which is made available through the Services in any manner that infringes any copyright, trademark, patent, trade secret, or other personal or proprietary right of any party.
</p>
		<p>
4.16. Publish, post, upload, disseminate, use, link to or otherwise make available any image, photograph or picture of any other person or user without that person’s or user’s consent.
</p>
		<p>
4.17. Solicit information of any kind from or exploit in any way users who are under the age of 18.
</p>
		<p>
4.18. Upload files to the Services that contain viruses, Trojan horses, worms, time bombs, cancelbots, corrupted files, or any other similar software or programs that may damage the operation of another's computer or property of another.
</p>
		<p>
4.19. Harvest, solicit or otherwise collect personal information from or about other users for any purpose.
</p>
		<p>
4.20. Use the Services in any manner which is inconsistent with or violates any applicable laws or regulations.
</p>
		<p>
4.21. Create a false identity on the Services for the purpose of misleading others.
</p>
		<p>
4.22. Publish, post, disseminate, link to, upload, use, copy or otherwise make available (whether or not for a fee) any directory of users of the Services.
</p>
		<p>
4.23. Register on the Services under a new username if GMA has restricted, suspended or terminated Your use of the Services. 
</p>
		<p>
4.24. Register more than once or register more than one username on the Services.  If You register more than once or register any additional username(s), GMA will delete any additional registration and/or username(s) from the Services and system.
</p>
		<p>
4.25. Register with a user name that is offensive, deceptive or violates any other party’s rights. 
</p>
		<p>
4.26. Register on the Services if You are under the age of 14.
</p>
		<p>
4.27. Register on the Services with a non-working or inactive e-mail address, or someone else’s e-mail address other than Your own.
</p>
		<p>
4.28. Publish, post, upload, disseminate, discuss, mention or insinuate false information about other users. 
</p>
		<p>
4.29. Publish, post, upload, disseminate, discuss or mention the value, validity or effectiveness of products or services of sponsors if You have never owned or used such product or services.
</p>
		<p>
<h3>DISCLAIMERS AND LIMITATIONS ON LIABILITY.</h3>  
The Services may contain links to third party websites.  When You access third party websites, You do so at Your own risk.  Third party links published or posted by users or service sponsors do not constitute or imply an approval or endorsement by GMA of any information, materials, documents, services or products available on third-party websites.  GMA makes no representations about the suitability or accuracy of information, documents, materials, services or products published, posted or made available as part of the content, services or products offered by users or sponsors for any purpose.  
ALL INFORMATION, MATERIALS, CONTENT, SERVICES AND PRODUCTS ACCESSIBLE VIA THE SERVICES ARE PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND BY GMA.  GMA DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH REGARD TO ALL INFORMATION, MATERIALS, CONTENT, SERVICES AND PRODUCTS ACCESSIBLE VIA THE SERVICES INCLUDING ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, WHETHER EXPRESS, IMPLIED OR STATUTORY.  IN NO EVENT SHALL GMA BE LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER BASED IN CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF INFORMATION, PRODUCTS OR SERVICES AVAILABLE ON THE SITE OR BY THIRD PARTIES, OR FAILURE TO PROVIDE PRODUCTS OR SERVICES BY GMA OR THIRD PARTIES, WHETHER OR NOT GMA KNEW OR SHOULD HAVE KNOWN ABOUT THE POSSIBILITY OF SUCH DAMAGES.
GMA DOES NOT WARRANT THAT THE SERVICES ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR THAT THE SERVICES FUNCTIONING WILL BE UNINTERRUPTED OR FREE OF ERRORS.  GMA ASSUMES NO RESPONSIBILITY FOR ANY ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMMUNICATIONS LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, OR ALTERATION OF, ANY USER’S CONTENT OR ELECTRONIC DEVICE.  GMA IS NOT RESPONSIBLE FOR ANY PROBLEMS OR TECHNICAL MALFUNCTION OF ANY TELEPHONE NETWORK OR LINES, COMPUTER ONLINE SYSTEMS, SERVERS OR PROVIDERS, COMPUTER EQUIPMENT, MOBILE EQUIPMENT, SOFTWARE, FAILURE OF ANY E-MAIL OR PLAYERS DUE TO TECHNICAL PROBLEMS ON THE INTERNET OR ON THE SITE OR COMBINATION THEREOF, INCLUDING ANY INJURY OR DAMAGE TO ANY USER’S ELECTRONIC DEVICE RELATED TO OR RESULTING FROM PARTICIPATION, ACCESSING, OR DOWNLOADING MATERIALS AND GMA CONTENT IN CONNECTION WITH USING THE SERVICES.  UNDER NO CIRCUMSTANCES SHALL GMA BE RESPONSIBLE FOR ANY LOSS OR DAMAGE, INCLUDING PERSONAL INJURY OR DEATH, RESULTING FROM USE OF THE SERVICES, FROM ANY USER CONTENT POSTED ON OR THROUGH THE SERVICES, OR FROM THE CONDUCT OF ANY USERS OF THE SERVICES, WHETHER ONLINE OR OFFLINE. 
IN ANY CASE, GMA’S TOTAL, CUMULATIVE LIABILITY UNDER THIS AGREEMENT SHALL NOT EXCEED THE GREATER OF $500 AND ANY FEES/ PAYMENTS RECEIVED BY GMA FROM YOU FOR USING THE SERVICES.  THIS LIMITATION WILL APPLY, REGARDLESS OF WHETHER ANY REMEDY SET FORTH HEREIN FAILS OF ITS ESSENTIAL PURPOSE AND REGARDLESS OF WHETHER A CLAIM OR ACTION SOUNDS IN CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, CONTRIBUTION, INDEMNITY OR ANY OTHER LEGAL THEORY. 
PLEASE NOTE THAT SOME OF THESE LIMITATIONS ON LIABILITY MAY NOT BE ENFORCEABLE IN SOME STATES, AND IF SO, THEY ARE NOT APPLICABLE TO YOU.  YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE.
YOU HEREBY AGREE TO RELEASE GMA, ITS AFFILIATES AND AGENTS, AND EACH OF THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM CLAIMS, DEMANDS AND DAMAGES (ACTUAL AND CONSEQUENTIAL) OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, SUSPECTED AND UNSUSPECTED, DISCLOSED AND UNDISCLOSED (“CLAIMS”), ARISING OUT OF OR IN ANY WAY CONNECTED WITH YOUR USE OF THE SERVICES.  IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, IN PART:  “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR.”
YOU ACKNOWLEDGE AND AGREE THAT GMA WOULD NOT HAVE PROVIDED THESE SERVICES BUT FOR THESE DISCLAIMERS OF LIABILITY, AND AGREE THAT THE TERMS ARE REASONABLE.
</p>
		<p>
<h3>5. UNSOLICITED IDEA SUBMISSION POLICY.</h3>
We welcome Your comments and feedback about the Services.  However, GMA does not accept or consider unsolicited submissions concerning its business or operations, including, but not limited to, original ideas for new advertising campaigns, promotions, products, services, technologies, processes, materials, marketing plans or new product/service names.  Please do not send GMA such submissions.  The purpose of this policy is to avoid potential misunderstandings or disputes when GMA’s services, products or marketing strategies appear similar to ideas submitted to GMA.  All such submissions to GMA are considered the property of GMA.  GMA does not have an obligation to protect the confidentiality of any such submission.  GMA will exclusively own all known or later-existing rights to such submission worldwide, and will be entitled to the unrestricted use of any such submission for any purpose, without compensation to You or any third-party provider of such submission.
</p>
		<p>
<h3>6. COPYRIGHT COMPLAINTS.</h3>
<p>Materials may be made available on the Services by third parties not within our control. GMA respects the intellectual property rights of others, and we ask You to do the same.  It is our policy not to permit materials known by GMA to infringe another party’s copyright to remain on the Site.  If You believe that Your work has been copied and is accessible on the Site in a way that constitutes copyright infringement, or that the Site contains links or other references to another online location that contains material or activity that infringes Your copyright rights, You may notify GMA by providing the following information (as required by the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act, 17 U.S.C. § 512) to our copyright agent set forth below:</p>
<p>•	A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</p>
<p>•	Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</p>
<p>•	Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit GMA to locate the material;</p>
<p>•	Information reasonably sufficient to permit GMA to contact the complaining party, such as an address, telephone number, and if available, an electronic mail address at which the complaining party may be contacted;</p>
<p>•	A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</p>
<p>•	A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
</p>
		<p>
<p>Copyright Agent:</p>
<p>Dunkiel Saunders Elliott Raubvogel & Hand PLLC</p>
<p>91 College St.</p>
<p>Burlington, VT</p>
<p>(802) 860-1003</p>
</p>
		<p>
<h3>7. INTELLECTUAL PROPERTY OF GMA.</h3>  Patent That includes patent pending technology.  Patent-that.com and Patent That contain content protected by copyright, trademark, and other law, and GMA owns and retains all rights in this content. 
</p>
		<p>
<h3>8. COPYRIGHT NOTICE.</h3>  Copyright © 2014 GMA.  All rights reserved.
</p>
		<p>
<h3>9. TRADEMARKS.</h3>  PATENT THAT is a reigstered trademark of GMA.
</p>
		<p>
<h3>10. JURISDICTION AND DISPUTES.</h3>
Any disputes relating to the enforcement or validity of Your, our or either of our licensors’ intellectual property rights is governed by the laws of the State of Vermont, USA, without regard to its conflicts of law provisions, the state and federal courts of which have sole and exclusive jurisdiction to resolve any actions or claims arising out of the aforementioned disputes.  You submit to the jurisdiction of such courts for such purpose, and agree not to contest venue as appropriate in Vermont. 
</p>
		<p>
<h3>DISPUTE RESOLUTION BY BINDING ARBITRATION</h3>
<h3>Please read this carefully. It affects your rights.</h3>
<h3>Summary:</h3>
<p>Most customer concerns can be resolved quickly and to the customer's satisfaction by contacting us at info@patentthat.com.  In the unlikely event that the GMA is unable to resolve your complaint to your satisfaction (or if GMA has not been able to resolve a dispute it has with you after attempting to do so informally), we each agree to resolve those disputes through binding arbitration or in small claims court rather than in a court of general jurisdiction. Arbitration is less formal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of a judge or jury, allows for more limited discovery than a court does, and is subject to very limited review by courts. Any arbitration under these Terms of Service will take place on an individual basis; class arbitrations and class actions are not permitted. While in some instances, upfront costs to file an arbitration claim may exceed similar costs to bring a case in court, for any non-frivolous claim that does not exceed $10,000, GMA will pay all costs of the arbitration as discussed in more detail below. Moreover, in arbitration you may recover attorney's fees from GMA to the same extent or more as you would in court.
Under certain circumstances (as explained below), GMA will pay you more than the amount of the arbitrator's award and will pay your attorney (if any) his or her reasonable attorney's fees if the arbitrator awards you an amount greater than what GMA offered you to settle the dispute.
You may speak with independent counsel before using the Services or completing any purchase.</p>
<h3>Arbitration Agreement:</h3>
<p>If you reside in the United States or are otherwise subject to the US Federal Arbitration Act, you and GMA agree that any and all disputes or claims that have arisen or may arise between us - except any dispute relating to the enforcement or validity of your, our or either of our licensors’ intellectual property rights - shall be resolved exclusively through final and binding arbitration, rather than in court, except that you may assert claims in small claims court, if your claims qualify. The Federal Arbitration Act governs the interpretation and enforcement of this Arbitration Agreement.
Our arbitration proceedings would be conducted by the American Arbitration Association ("AAA") under its rules and procedures applicable at that time, including the AAA's Supplementary Procedures for Consumer-Related Disputes (to the extent applicable), as modified by our Arbitration Agreement.  You may review those rules and procedures, and obtain a form for initiating arbitration proceedings at the AAA's website. The arbitration shall be held in the county in which you reside or at another mutually agreed location. If the value of the relief sought is US$10,000 or less, either of us may elect to have the arbitration conducted by telephone or based solely on written submissions, which election shall be binding on us subject to the arbitrator's discretion to require an in-person hearing. Attendance at an in-person hearing may be made by telephone by you and/or us, unless the arbitrator requires otherwise.
The arbitrator will decide the substance of all claims in accordance with the laws of the State of Vermont, including recognized principles of equity, and will honor all claims of privilege recognized by law. The arbitrator shall not be bound by rulings in prior arbitrations involving different GMA users, but is bound by rulings in prior arbitrations involving the same user to the extent required by applicable law. The arbitrator's award shall be final and binding and judgment on the award rendered by the arbitrator may be entered in any court possessing jurisdiction over the parties, except for a limited right of appeal under the Federal Arbitration Act.
The AAA rules will govern the payment of all filing, administration and arbitrator fees, unless our Arbitration Agreement expressly provides otherwise. If the amount of any claim in an arbitration is US$10,000 or less, GMA will pay all filling, administration and arbitrator fees associated with the arbitration, so long as (i) you make a written request for such payment of fees and submit it to the AAA with your Demand for Arbitration and (ii) your claim is not determined by the arbitrator to be frivolous. In such case, we will make arrangements to pay all necessary fees directly to the AAA. If the amount of the claim exceeds US$10,000 and you are able to demonstrate that the costs of arbitration will be prohibitive as compared to the costs of litigation, GMA will pay as much of the filing, administration and arbitrator fees as the arbitrator deems necessary to prevent the arbitration from being cost-prohibitive. If the arbitrator determines the claim(s) you assert in the arbitration are frivolous, you agree to reimburse GMA for all fees associated with the arbitration paid by GMA on your behalf, which you otherwise would be obligated to pay under the AAA's rules.
YOU AND GMA AGREE, AS PART OF THE ARBITRATION AGREEMENT, THAT EACH OF US MAY BRING CLAIMS AGAINST THE OTHER ONLY ON AN INDIVIDUAL BASIS AND NOT AS PART OF ANY PURPORTED CLASS OR REPRESENTATIVE ACTION OR PROCEEDING. WE REFER TO THIS AS THE “PROHIBITION OF CLASS AND REPRESENTATIVE ACTIONS.” UNLESS BOTH YOU AND WE AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE OR JOIN YOUR OR OUR CLAIM WITH ANOTHER PERSON'S OR PARTY'S CLAIMS, AND MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A CONSOLIDATED, REPRESENTATIVE OR CLASS PROCEEDING. THE ARBITRATOR MAY ONLY AWARD RELIEF (INCLUDING MONETARY, INJUNCTIVE, AND DECLARATORY RELIEF) IN FAVOR OF THE INDIVIDUAL PARTY SEEKING RELIEF AND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF NECESSITATED BY THAT PARTY'S INDIVIDUAL CLAIM(S). ANY RELIEF AWARDED CANNOT AFFECT OTHER GMA USERS.
Except with respect to the Prohibition of Class and Representative Actions, if a court decides that any part of this Arbitration Agreement is invalid or unenforceable, the other parts of this Arbitration Agreement shall continue to apply. If a court decides that the Prohibition of Class and Representative Actions is invalid or unenforceable, then the entire Arbitration Agreement shall be null and void. The remainder of this Terms of Service and will continue to apply.
Claims Are Time-Barred.</p>
<p>You agree that regardless of any statute or law to the contrary or the applicable dispute resolution process, any claim or cause of action you may have arising out of or related to use of the Service or otherwise under these must be filed within one (1) year after such claim or cause of action arose or you hereby agree to be forever barred from bringing such claim.
The provisions of this section, entitled “Claims Are Time-Barred” shall be deemed to constitute a separate written legally binding agreement by and between you and us.
Special Notice for California Users.</p>
<p>Under California Civil Code Section 1789.3, users of the Service from California are entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210.  You may contact us at legal notice at:</p>

<p>Green Mountain Apps, LLC </p>
<p>91 College St.</p>
<p>Burlington, VT 05402 USA</p>
<p>Attention: General Counsel 
</p>
		<p>
<h3>11. INDEMNITY.</h3>
You agree to indemnify and hold GMA, its subsidiaries, and affiliates, and their respective officers, agents, partners and employees, harmless from any loss, liability, claim, or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of Your use of the Site in violation of this Agreement and/or from any breach of this Agreement.
</p>
		<p>
<h3>12. MISCELLANEOUS.</h3>
This Agreement is accepted upon Your use of the Site or the App.  This Agreement and the Privacy Policy constitute the entire agreement of the parties with respect to Your use of the Site.  The Terms of Service in this Agreement may be modified by GMA at any time, and by You only with the prior written consent of GMA in each instance.  If any provision of this Agreement is held unenforceable, the remaining provisions will be enforced to the maximum extent possible.  No waiver by GMA of any rights under this Agreement constitutes a waiver of any other right, or right to enforce any subsequent breach of this Agreement.  


		</p>
		

		</article>
		</div>
                </div>
           
            </div>
            
    

 
{% endblock %}


